{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>

<button type="button" onclick="javascript:history.back()">Back</button>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<h3> kirjaudu foorumiin </h3>

<p>kirjaudu sisään tai luo itsellesi käyttäjätili </p>
<p>admin oikeudet saa syöttämällä käyttäjänimi: tester salasana: tester</p>
<form action="/login" method="POST">
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
<a href="/createUserRedirect"> luo uusi käyttäjä</a>
<h2> {{word}} </h2>


</form>
{% endif %}