
<h1> {{ topic }} </h1>
    <h2> viestejä {{count[0]}}</h2>

{%  if session.level == "admin" %}

{% for message in messages %}
<br>
Käyttäjältä: <a href="/{{message[1]}}"> {{message[1]}}</a> 
:{{message[0]}} 

<a> lähetetty : {{message[4].strftime("%Y-%m-%d %H:%M:%S")}}</a>
<a href="/hide_message/{{message[3]}}">piilota viesti </a> ||
<a href="/show_message/{{message[3]}}">nayta viesti </a>
    {% if message[2] == 0 %} 
    näkyy
    {%else%}
    piilotettu
    {%endif%}
<br>
{% endfor %}

<form action="/send" method="POST">
<textarea name="message" rows="3" cols="40"></textarea>
<br>

<input type="submit" value="Lähetä">
<input type="hidden" name="id" value="{{ id }}">

</form>

<form action="/topics">
    <input type="submit" value="topics" />
</form>

{% else %}

{% for message in messages %}
    {% if message[2] == 0 %}
<br>
Käyttäjältä: <a href="/{{message[1]}}"> {{message[1]}}</a> 
:{{message[0]}} 
<a> lähetetty : {{message[4].strftime("%Y-%m-%d %H:%M:%S")}}</a>

    {%endif%}
<br>
{% endfor %}

<form action="/send" method="POST">
<textarea name="message" rows="3" cols="40"></textarea>
<br>

<input type="submit" value="Lähetä">
<input type="hidden" name="id" value="{{ id }}">

</form>

<form action="/topics">
    <input type="submit" value="etusivulle" />
</form>
{%endif%}