<h1>Etusivu</h1>
<hr>
{%  if session.level == "admin" %}

{% for topic in topics %}

Aihe: 


<a href="/topic/{{topic[2]}}"> {{topic[0]}} </a>
luoja: 
<a href="{{topic[1]}}"> {{topic[1]}}</a> 
<a> luotu : {{topic[4].strftime("%Y-%m-%d %H:%M:%S")}}</a>
<a href="/hide/{{topic[2]}}">piilota aihe </a>
<a href="/show/{{topic[2]}}">nayta aihe </a>
 {{topic[3]}}
<hr>

{% endfor%}
<a href="/new_topic">Luo uusi aihe</a>
<hr>
<a href="/searchgo"> search page</a>

<p>Olet kirjautunut nimellä {{ session.username }}</p>
<p>you are {{session.level}} level user</p>

<a href="/logout">Kirjaudu ulos</a>

{% else %}


{% for topic in topics %}
    {% if topic[3] == 0 %}
Aihe: 

<a href="/topic/{{topic[2]}}"> {{topic[0]}} </a>
luoja: 

<a href="{{topic[1]}}"> {{topic[1]}}</a> 

<a> luotu : {{topic[4].strftime("%Y-%m-%d %H:%M:%S")}}</a>
<hr>
    {%endif%}
{% endfor%}
<a href="/new_topic">Luo uusi aihe</a>
<hr>
<a href="/searchgo"> search page</a>

<p>Olet kirjautunut nimellä {{ session.username }}</p>
<p>you are {{session.level}} level user</p>

<a href="/logout">Kirjaudu ulos</a>
   
{%endif%}